@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #000;
  color: #fff;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}
.dsmeta-largura {
  width: 100%;
  max-width: 900px;
  /* tamanho max. da linha */
  margin: 0 auto;
  /* alinhar texto ao centro */
}

/* agora formatar o id criando no section "vendas"  --- id usa o # não o"." */
#vendas {
  padding: 40px 10px;
  /* padding serve para um espaçamento interno */


}
